<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="src/static/css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="src/static/js/login.js"></script>
    <title>My cool application</title>
</head>
<body>
<div class="login">
    <h1>Login to Web App</h1>
    <form id="loginForm">
        <p><input id="login" type="text" name="login" value="" placeholder="Username or Email"></p>
        <p><input id="password" type="password" name="password" value="" placeholder="Password"></p>
        <p class="submit"><input id="submit" type="button" name="commit" value="Login"></p>
    </form>
</div>

</body>
</html>

