<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="src/static/css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="src/static/js/register.js"></script>
    <title>My cool application</title>
</head>
<body>
<div class="login">
    <h1>Register to Web App</h1>
    <form id="LoginForm">
        <p><input id="name" type="text" name="name" value="" placeholder="Full name"></p>
        <p><input id="username" type="text" name="username" value="" placeholder="Username"></p>
        <p><input id="email" type="text" name="email" value="" placeholder="Email"></p>
        <p><input id="password" type="password" name="password" value="" placeholder="Password"></p>
        <p><input id="retypePassword" type="password" name="retypePassword" value="" placeholder="Retype password"></p>
        <p class="submit"><input id="submit" type="button" name="commit" value="Register"></p>
    </form>
</div>

</body>
</html>

